body {
	font-family: 'Open Sans', sans-serif;
	background: grey;
	text-align: center;
}

.container {
	margin: 0 auto;
	width: 1000px;
}

li {
	display: block;
}

.checked {
	text-decoration: line-through; 
}