body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0 auto;
	width: 1000px;
}

select {
	background-color: black;
}

li {
	display: block;
	text-align: left;
}

.checked {
	text-decoration: line-through;
}